# Ignore all source code folders from public GitHub repository
lib/
android/
ios/
web/
linux/
macos/
windows/
test/
bin/
web_app/
.idea/
.vscode/
.dart_tool/
build/
pubspec.yaml
pubspec.lock
analysis_options.yaml
.metadata

# Track ONLY release binaries and release-info.json
!raaga-music-player-release.apk
!release-info.json
!README.md
